
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #426CBe;
    background-color: white;

}

/* Navbar */


nav{
    height: 80px;
    background: #ffffff;
}

nav img{
    width: 200px;
    position: absolute;
    left: 12%;
}

nav ul{
    float: right;
    margin-right: 25px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}


nav ul li a{
    position: relative;
    color: #426CB4;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 0;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #426CB4;
    transform:scalex(0);
    transform-origin: right;
    transition: transform .4s linear;
}

nav ul li a:hover:before{
  transform:scalex(1);
  transform-origin: left;
 }



/* Navbar slutar */

header {
    height: 800px;
    width: 100%;
}

.bakgrund-header {
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: brightness(70%);  
}

/* Header text */
.header-text {
    position: relative;
    bottom: 65%;
    transform: translate(-50%, -50%);
    color:#ffffff;
    font-size: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    text-shadow: 2px 2px #426CB4;
    text-align: center;
     
}

/* Header text */
.header-text2 {
    position: relative;
    bottom: 66%;
    transform: translate(-50%, -50%);
    color:#ffffff;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;  
    text-align: center;
    text-shadow: 2px 2px #426CB4;
    
}

.button{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 2px solid #426CB4;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
    background-color: #426CB4;
    text-transform: uppercase;
    font-weight: bold;

}

.btn:hover{
    border: 2px solid #1F5ECB;
    color: #ffffff;
    background-color: #1F5ECB;
    transition: all ease 0.6s;

}

.btn2{
    border: 2px solid #ffffff;
    padding: 10px 30px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
}

.btn2:hover{
    color: #161616;
    background-color: #ffffff;
    transition: all ease 0.6s;
}

/* Vanliga frågor*/

.title{
    color: #426CB4;
}

.title2{
    text-align: center;
    color: #426CB4;
}

.border{
    width: 200px;
    height: 2px;
    background: #426CB4;
    margin: 30px auto;
  }

.fragor{
    text-align: center;
    padding: 4% 15%;
}

.vanliga_fragor {
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}

.vanliga_fragor .vanliga_fragor_item {
    width: 30%;
    border: 1px solid #F4F7FF;
    box-shadow: 6px 6px 5px 0px rgba(66,108,180,1);
}

.vanliga_fragor .vanliga_fragor_item img {
    width: 100%;
    margin-bottom: 25px;
}

.vanliga_fragor .vanliga_fragor_item h3 {
    color: #426CB4;
    margin-bottom: 15px;
}

/* Vanliga frågor slutar */

/* kontakt formulär börjar*/

.mainContent {
    display: flex;
    height: 700px;
    border: 30px white solid;
    background-color: white;
    margin-bottom: 40px;
}

.form-area {
    display: flex;
    background-color: #426CB4;
    padding: 1.9em;
    height: 100%;   
}

.formRuta {
    /* border: 1px solid black; */
    height: 100%;
    width: 55%;
    margin-right: 10px;
   
}



.msg-area {
    display: flex;
    flex-direction: column;
    order: 2;
}

.msg-area > textarea {
    flex: 1;
    min-width: 30em;
    padding: 15px;
}

.details-area {
    flex: 1;
    order: 1;
    margin-right: 2em;
}

.details-area input {
    width: 100%;
    

}

.details-area input,
.details-area button {
    margin-bottom: 1em;
    padding: 1em;
}

.details-area button {
    
    color:#426CB4;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
   
}

.formRuta label {
    color: white;

}


.covidRuta {
    height: 100%;
    width: 50%;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    text-align: center;
}

.covidRuta img {
    
width: 100%;
height: 100%;
background-size: cover;
filter: brightness(50%);

}


.covidRuta .covid-tips {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  word-spacing: 6px;
 
}


.covidRuta .covid-tips:hover {
    text-decoration: underline;
}

/* kontakt formulär slutar*/


/* footer */
.footer{
    margin-top: 20px;
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background-color: #426CB4;

  }
  
  .inner_footer{
    display: block;
    margin: 0 auto;
    width: 1300px;
    height: 100%;
  }

  .inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
  }

  .inner_footer .logo_container img{
    width: 200px;
    height: auto;
  }

  .inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
  }

  .inner_footer .footer_third:last-child{
    margin-right: 0;
  }

  .inner_footer .footer_third h1{
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .inner_footer .footer_third a{
    text-decoration: none;
    font-size: 15px;
    color: #F4F7FF;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 20px;
  }

  .inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 30px;
  }

  .inner_footer .footer_third span{
    color: #ffffff;
    font-size: 15px;
    font-weight: 200;
    display: block;
  }

  #insta{
    color: #ffffff;
  }

  #fb{
    color: #ffffff;
  }

  #twitter{
    color: #ffffff;
  }
  
  /*footer slutar */

  /* HAMBURGAR MENY KOD*/

label #sign-one,
label #sign-two{
    font-size: 20px;
    color: #426CB4;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}

#res-menu{
    display: none;
}






@media screen and (max-width:960px) {
  .service-box{
    max-width: 45%;
  }



  label #sign-one{
      display: block;
  }
  nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: white;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: .5s;
      z-index: 10;
  }

  nav ul li{
      display: block;
      margin: 60px 0;
      line-height: 30px;
  }

  nav ul li a{
      font-size: 20px;
  }

  #res-menu:checked ~ ul{
      left: 0;
  }

  #res-menu:checked ~ label #sign-one{
      display: none;
  }

  #res-menu:checked ~ label #sign-two{
      display: block;
  }

  .footer{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background-color: #426CB4;

  }

  .inner_footer{
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: 100%;
  }

  .inner_footer .logo_container{
    width: 30%;
    float: left;
    height: 100%;
    display: block;
  }

  .inner_footer .logo_container img{
    width: 250px;
    height: auto;
  }

  .inner_footer .footer_third h1{
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .inner_footer .footer_third a{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 20px;
  }
}

/* hamburgar meny slutar */

@media screen and (max-width:768px) {

    .footer .inner_footer{
      width: 90%;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
      width: 100%;
      margin-bottom: 30px;
    }

 


  @media(max-width: 600px){
    .footer .inner_footer{
      width: 90%;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .box-img{
    /* border: 3px solid #161616; */
    background:transparent;
    width: 200px;
    height: 200px;
    margin-left: 140px;
    padding: 10px;
  }
}



