*{
    margin: 0px auto;
    padding: 0px auto;
}

body{
    text-align: center;
    
    background: url("../Images/backgroundheader.jpg") no-repeat center center fixed ;
    /*background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/backgroundheader.jpg);*/
    
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
}

/* Empece aqui */
#website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 100px 500px 100px 500px 500px;

    width:100%;
    height:1700px;
    margin: 0 auto;
    overflow: hidden;
    
    
}

#header{
    display: flex;
    justify-content: center;
    
    grid-column: 1/6;
   
    width: 100%;
    

}
#header h2{
    font-size: 50px;
    margin-top: 200px;
    font-family:'Ubuntu';
    letter-spacing: 2px;
    margin-left: 50px;
    color: #426cb4;
}

nav img{
    margin-top: 20px;
    width: 150px;
    position: absolute;
    left: 12%;
}
#nav{
   
    grid-column: 1/6;
    background: #ffffff;
    width: 100%;
    font-family:'Ubuntu';
    

}
#nav ul{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    list-style: none;
    margin-top: 40px;
  
}

#nav ul li:hover a{
    color: black;
    text-shadow: 1px 2px 5px #333;
    
}
#nav ul li a{

    color:#426cb4;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    
    
    border-radius: 5px 5px 5px 5px;
    
}
.text{
    grid-column: 1/6;
    /*background: cornsilk;*/
    width: 100%;
}
.text h1 a{
    text-decoration: none;
    letter-spacing: 2px;
    color: #426cb4;
    font-size: 40px;

}
h1{
    font-family: 'ubuntu';
    margin-top: 75px;
}
h1:hover{
    
    text-shadow: 3px 3px 8px lightcyan;
}

#main{
    grid-column: 1/6;
    /*background:#426CB4;*/
    width: 100%;

    position: -webkit-sticky;
    position: sticky;
    top: 0.1%;
    

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'ubuntu';
    
}
.box1{
    /*border: 1px solid black;*/
    width: 350px;
    height: 200px;
    margin-top: 70px;
    background-color: #e0dddd;
    color: #489cc1;
    border-radius: 40px 40px 40px 40px;
}
.box1  h2{
    margin: 70px;
}
.box1 h2:hover{
    color: rgb(85, 101, 138);
    text-shadow: 1px 2px 5px #ffffff;
}

.box2{
    /*border: 1px solid black;*/
    width: 350px;
    height: 200px;
    margin-top: 70px;
    background-color: #e0dddd;
    color: #489cc1;
    border-radius: 40px 40px 40px 40px;
}
.box2 h2{
    margin: 70px;
}
.box2 h2:hover{
    color: rgb(85, 101, 138);
    text-shadow: 1px 2px 5px #ffffff;
}

.box3{
    /*border: 1px solid black;*/
    width: 350px;
    height: 200px;
    margin-top: 70px;
    background-color: #e0dddd;
    color: #489cc1;
    border-radius: 40px 40px 40px 40px;
}
.box3 h2{
    margin: 70px;
}
.box3 h2:hover{
    color: rgb(85, 101, 138);
    text-shadow: 1px 2px 5px #ffffff;
}

#footer{
    grid-column: 1/6;


    font-family: 'ubuntu';
    background:  #426cb4;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.f-one{
    margin: 150px;
}
.f-one h3{
    letter-spacing: 2px;
}
.extra{
    margin: 130px;
}

.f-two h4{
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.f-three{
    margin: 30px;
}
.f-three h4{
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px ;
}

.f-nav{
    margin: 150px;
    
    
}
.f-nav ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
     
}
.f-nav a{
    padding: 20px;

}
.f-nav ul li:hover a{
    color: black;
}
.f-nav li{
    list-style: none;
}
.f-nav img{
left: 78%;
background-color: #ffffff;
border-radius: 30px 30px 30px 30px;
}


