*{
    margin: 0px auto;
    padding: 0px auto;
}
body{
    text-align: center;
    background: url("../Images/backgroundheader.jpg") no-repeat center center fixed ;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
}

/* Empece aqui */
#website{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 500px 100px 100px 500px 500px;

    width:100%;
    height:1700px;
    margin: 0 auto;
    
    
}

#header{
    display: flex;
    justify-content: center;
    
    grid-column: 1/6;
   
    width: 100%;
    

}
#header h2{
    font-size: 50px;
    margin-top: 300px;
    font-family:'Ubuntu';
    letter-spacing: 2px;
    margin-left: 150px;
    color: #426cb4;
}

#nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    


    grid-column: 1/6;
    /*background: #0d8abc;*/
    width: 100%;
    font-family:'Ubuntu';
    

}
#nav ul{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    list-style: none;
    margin-top: 60px;
  
}


#nav ul li:hover a{
    color: black;
    text-shadow: 1px 2px 5px #333;
    
}
#nav ul li a{
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    background: #426cb4;
    border-radius: 5px 5px 5px 5px;
    
}
.text{
    grid-column: 1/6;
    /*background: cornsilk;*/
    width: 100%;
}
.text h1 a{
    text-decoration: none;
    letter-spacing: 2px;
    color: #426cb4;
    font-size: 40px;

}
h1{
    font-family: 'ubuntu';
    margin-top: 45px;
}
h1:hover{
    color: black;
    text-shadow: 1px 2px 5px #333;
}

#main{
    grid-column: 1/6;
    /*background:#426CB4;*/
    width: 100%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-family: 'ubuntu';
    
}
.box1{
    /*border: 1px solid black;*/
    width: 350px;
    height: 300px;
    margin-top: 100px;
    background-color: #ffffff;
    color: #489cc1;
    border-radius: 40px 40px 40px 40px;
}
.box1  h2{
    margin: 100px;
}
.box2{
    /*border: 1px solid black;*/
    width: 350px;
    height: 300px;
    margin-top: 100px;
    background-color: #ffffff;
    color: #489cc1;
    border-radius: 40px 40px 40px 40px;
}
.box2 h2{
    margin: 100px;
}
.box3{
    /*border: 1px solid black;*/
    width: 350px;
    height: 300px;
    margin-top: 100px;
    background-color: #ffffff;
    color: #489cc1;
    border-radius: 40px 40px 40px 40px;
}
.box3 h2{
    margin: 100px;
}
#footer{
    grid-column: 1/6;


    font-family: 'ubuntu';
    background:  #426cb4;
    color: white;
    display: grid;
    grid-template-columns: repeat(3,1fr);

}

.f-one{
    margin: 100px;
}
.f-one h3{
    letter-spacing: 2px;
}
.extra{
    margin: 80px;
}
/*.f-section{
    margin: 50px;
}*/
.f-two h4{
    letter-spacing: 2px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.f-three{
    margin: 30px;
}
.f-three h4{
    letter-spacing: 2px;
    margin: 0px;
    padding: 0px ;
}

.f-nav{
    margin: 100px;
    
    
}
.f-nav ul li a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
   
    
}
.f-nav a{
   
    padding: 20px;

}
.f-nav ul li:hover a{
    color: black;
}
.f-nav li{
    list-style: none;
}




/* termine aqui 
#header{
    position: relative;
    display: inline-block;
    text-align: center;
}

.text{
    position: absolute;
    top: 75%;
    left:35%;
}

#header h2{
    font-size: 40px;
    color: black;
    font-family: Ubuntu Light 300;
    letter-spacing: 2px ;
    margin-top: 10px;
}
#nav{
    position: -webkit-sticky;
	position: sticky;
	top: 0;




    width: 100%;
    height: 70px;
    background-color:black;
    font-family: Ubuntu Light 300 ;
    font-size: 14px;
}
#nav ul{
    list-style: none;
    margin: 0px auto;
    width:500px ;
}
#nav ul li:hover{
    background: blanchedalmond;
    cursor: pointer;
}
#nav ul li:hover a{
    color: black;
}
#nav ul li{
    line-height: 70px;
    float: left;
    
}
#nav ul li a{
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    text-decoration: none;
}

h1{
    margin-top: 20px;
}

.box1,
.box2,
.box3{
    border: 1px solid black;
    float: left;
    background-color: honeydew;
    width: 300px;
    height: 300px;
    margin: 30px;
    margin-bottom: 10%;
    padding: 50px;
}

.clearfix{
    float: none;
    clear: both;
}

#footer{
    height: 60%;
    width: 100%;
}

.f-one,
.f-section,
.f-nav{
    float: left;
    width: 300px;
    height: 40%;
    margin: 30px;
    margin-top: 40px;
    padding: 30px;
}
.f-nav ul{
    list-style: none;
    padding: 80px;

}


*/