*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;   
  }

  nav{
      height: 80px;
      background: #ffffff;
  }

  nav img{
      cursor: pointer;
      width: 200px;
      position: absolute;
      left: 12%;
  }

  nav ul{
      float: right;
      margin-right: 25px;
  }

  nav ul li{
      display: inline-block;
      line-height: 80px;
      margin: 0 15px;
  }


  nav ul li a{
      position: relative;
      color: #426CB4;
      font-size: 18px;
      text-transform: uppercase;
      text-decoration: none;
      padding: 5px 0;
  }

  nav ul li a:before{
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      height: 2px;
      width: 100%;
      background: #426CB4;
      transform:scalex(0);
      transform-origin: right;
      transition: transform .4s linear;
  }

  nav ul li a:hover:before{
    transform:scalex(1);
    transform-origin: left;
  }

  .services-section{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../Images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 90px 0;
  }
  .inner-width{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    overflow: hidden;
  }
  .section-title{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
  }
  .border{
    width: 160px;
    height: 2px;
    background: #426CB4;
    margin: 30px auto;
  }
  .services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .service-box{
    max-width: 33.33%;
    padding: 30px;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
  }
  
  .service-icon{
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 3px solid #426CB4;
    color: #ffffff;
    transform: rotate(45deg);
    margin-bottom: 30px;
    margin-top: 16px;
    transition: 0.3s linear;
  }
  .service-icon i{
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
  }
  .service-box:hover .service-icon{
    background: #426CB4;
    color: #ffffff;
  }
  .service-title{
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  .service-desc{
    font-size: 14px;
  }

  label #sign-one,
  label #sign-two{
      font-size: 20px;
      color: #426CB4;
      float: right;
      line-height: 80px;
      margin-right: 30px;
      cursor: pointer;
      display: none;
  }
   
  #res-menu{
      display: none;
  }


  .footer{
    width: 100%;
    display: block;
    overflow: hidden;
    padding: 30px 0;
    box-sizing: border-box;
    background-color: #426CB4;

  }
  
  .inner_footer{
    display: block;
    margin: 0 auto;
    width: 1300px;
    height: 100%;
  }

  .inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
  }

  .inner_footer .logo_container img{
    width: 200px;
    height: auto;
  }

  .inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
  }

  .inner_footer .footer_third:last-child{
    margin-right: 0;
  }

  .inner_footer .footer_third h1{
    text-transform: uppercase;
    font-size: 15px;
    color: #ffffff;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  }

  .inner_footer .footer_third a{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 20px;
  }

  .inner_footer .footer_third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 30px;
  }

  .inner_footer .footer_third span{
    color: #ffffff;
    font-size: 15px;
    font-weight: 200;
    display: block;
  }
  
  #insta{
    color: #ffffff;
  }

  #fb{
    color: #ffffff;
  }

  #twitter{
    color: #ffffff;
  }
  


  @media screen and (max-width:960px) {
    .service-box{
      max-width: 45%;
    }

    label #sign-one{
        display: block;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: white;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 10;
    }

    nav ul li{
        display: block;
        margin: 60px 0;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 20px;
    }

    #res-menu:checked ~ ul{
        left: 0;
    }

    #res-menu:checked ~ label #sign-one{
        display: none;
    }

    #res-menu:checked ~ label #sign-two{
        display: block;
    }

    .footer{
      width: 100%;
      display: block;
      overflow: hidden;
      padding: 30px 0;
      box-sizing: border-box;
      background-color: #426CB4;
  
    }

    .inner_footer{
      display: block;
      margin: 0 auto;
      width: 1000px;
      height: 100%;
    }

    .inner_footer .logo_container{
      width: 30%;
      float: left;
      height: 100%;
      display: block;
    }

    .inner_footer .logo_container img{
      width: 250px;
      height: auto;
    }
  
    .inner_footer .footer_third h1{
      text-transform: uppercase;
      font-size: 15px;
      color: #ffffff;
      display: block;
      width: 100%;
      margin-bottom: 20px;
    }
  
    .inner_footer .footer_third a{
      text-decoration: none;
      font-size: 15px;
      color: #ffffff;
      display: block;
      font-weight: 200;
      width: 100%;
      padding-bottom: 20px;
    }
   
  }
  
  @media screen and (max-width:768px) {
    .service-box{
      max-width: 50%;
    }

    .footer .inner_footer{
      width: 90%;
    }

    .inner_footer .logo_container,
    .inner_footer .footer_third{
      width: 100%;
      margin-bottom: 30px;
    }

  }
  
  @media screen and (max-width:480px) {
    .service-box{
      max-width: 100%;
    }

  }
  
  

  